@use 'base/variables' as v;

.alerta {
    padding: calc(v.$separacion / 5);
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;

    &.error {
        color: v.$rojo;
    }
    &.exito {
        color: v.$verde;
    }
}