@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Estilos Generales */
.grid-contenedor {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas, cada una ocupa la mitad del espacio */
    // height: 60vh; /* Altura completa de la ventana */
    img, picture {
        width: 70%;    /* Ancho como porcentaje del contenedor */
        height: auto;  /* La altura se ajusta manteniendo la proporción de la imagen */
        margin:  3rem 4rem 1rem 7rem;
    }
}

.contenedor-encuesta {
    display: flex;
    flex-wrap: wrap;
    p {
        text-align: left;
    }
}

.encuesta__preguntas{
    margin-left: 100px;
    margin-right: 75px;
}


.encuesta {
        &__formulario {
            // display: grid;
            &__campo {
                    margin: 0;
                }
            @include m.grid(1, 3rem);

            @include m.tablet {
                @include m.grid(2, 1rem);
            }
            @include m.desktop {
                @include m.grid(3, 1rem);
            
            }
            margin-left: 10px; //Vic
        }
        
        &__campo {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 1.5rem 0;
            // margin: 1.5rem 1rem 1rem .5rem; //Vic
            width: 100%; 
        }
        &__label {
            // display: block;
            font-size: 1.8rem;
            color: rgba(v.$negro, .8);
        }
        &__input,
        &__select {
            width: 100%;
            padding: 1rem;
            border: 1px solid darken(v.$gris-claro, 20);
            border-radius: 2rem;
            background-color: v.$blanco;
            // background-color: rgb(209, 198, 198);
        }
    
        &__radio{
            display: flex;
            gap: 2rem;
        }
        &__texto {
            margin-top: 3rem;
        }
        &__submit {
            @include m.botonBEM(v.$marron, v.$blanco);
            width: auto;
            align-self: center;
    
            &--registrar,
            &--full {
                width: 100%;
            }
        }
    }

.encuesta__preguntas {
    text-align: center; /* Centra el contenido */
    h3 {
        margin-top: 5rem;
        font-size: 2.4rem;
    }
}

.col {
    margin: 5rem 0; /* Espaciado entre cada conjunto de preguntas y respuestas */
}

.form-check {
    display: inline-block; /* Muestra los elementos en línea y permite el bloque */
    margin: 0 5px; /* Espaciado horizontal entre las opciones */
}

.form-check-inline {
    text-align: left; /* Alinea el texto de las etiquetas a la izquierda */
}
.form-check-label {
    font-size: 1.4rem;
}
.pregunta {
    text-align: left;
    margin: 15px;
    font-size: 2rem;
    color: v.$negro;
    span {
        font-weight: v.$bold;
    }
}

.enviar{
    text-align: center; 
    margin-bottom: 5rem;
}