@use 'base/mixins' as m;
@use 'base/variables' as v;

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$gris-claro;

    
    &__header-encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // margin: 2rem 2rem;
        border-bottom: 1px solid v.$gris;

        p{
            font-size: 1.8rem;
        }

        img, picture{
            height: 6rem;
            width: auto;
            margin-bottom: 1rem;
        }
    }
    &__logo {
        // @include m.logo;
        text-align: center;
        justify-content: center;
        // width: auto;
        // height: 10rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;

        .enlace {
            @include m.enlace;
            &:last-of-type {
                margin-right: 2rem;
            }
        }

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .enlace {
                // margin-right: 2rem;
            }
        }
        
    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__submit--logout {
        @include m.enlace;
        margin-bottom: 2rem;
    }

    &__grid {
        display: flex;
        flex: 1;
        overflow-y: auto;
    }

    &__sidebar {
        background-color: lighten(v.$gris-oscuro, 10);
        width: 15rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // form{
        //     align-items: flex-end;
        // }
    }

    &__menu {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__enlace {
        color: lighten(v.$gris-oscuro, 40);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        transition: 300ms background-color ease-in-out, 300ms color ease, 300ms border-radius ease;

        &:hover,
        &--actual {
            background-color: lighten(v.$gris-oscuro, 20);
            color: v.$blanco;
            border-radius: 1rem;
        }
    }
    &__icono {
        font-size: 2rem;
    }
    &__menu-texto {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        margin-top: .5rem;
        text-align: center;
    }

    &__contenido {
        width: 100%;
        padding: 1rem 1rem 3rem 1rem;
        overflow-y: scroll;
        @include m.tablet {
            padding: 1rem 5rem 3rem 5rem;
        }
    }

    &__contenedor-boton {
        @include m.tablet {
            // @include m.contenedor-md;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2rem;
            // margin-right: 14rem;
        }
    } //Crear otro para Boton vOLVER
    &__boton {
        @include m.botonBEM(v.$azulSecundario, v.$blanco);
        padding: 1rem 2.5rem; //Modificado del mixin
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet {
            width: auto;
        }
    }

    &__contenedor {
        @include m.shadow;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
        margin-top: 2rem;
    // margin-left: 1rem; /* Ajusta según sea necesario */
    // margin-right: -2rem; /* Ajusta según sea necesario */
    overflow: scroll;
    }
    &__formulario {
        @extend .dashboard__contenedor;
        @include m.contenedor-sm;
    }

    //Mios
    &__contenedor-grid{
        // display: flex;
        // flex-direction: column;
        // margin: 0 2rem;
        @include m.tablet {
            @include m.grid(2,3rem);
            // flex-direction: row;
            // justify-content: space-between;
            // align-items: center;
        }
    }
    
}