@use 'base/variables' as v;
@use 'base/mixins' as m;




.datos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: #f8f8f8;
    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 4rem;
    .dato p{
        font-size: 1.4rem
    }
}

.mantener {
    padding: 10px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    transition: top 0.1s ease;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 0 3rem;
}

.mantener.fijo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que el div fijo esté sobre otros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

.contenedor-global{
    @include m.contenedor;
    @include m.tablet {
        display: flex;
        align-items: flex-start; //P2 para manteenr fijo el aside
        gap: 2rem;
    }

    .evaluacion-total {
        @include m.tablet {
            flex: 0 0 60%;
        }
    }
}

.registro {
    background-color: v.$gris-claro;
    padding: 3rem;
    border-radius: 1rem;
    @include m.tablet {
        flex: 0 0 40%;
        position: -webkit-sticky; //P1 para mantener fijo el aside
        position: sticky; //P1 para mantener fijo el aside
        top: 5rem;
        // overflow-y: scroll;
    }
    h2 {
        font-size: 2rem;
        margin: 2.5rem 0 1rem 0;
    }
}

//Tabla de resultados
.resultado-evaluacion {
    // font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    margin-top: 4rem;
    width: 90%;
    border-spacing: 0;
    text-align: center;
    margin: 0 auto;

    thead {
        background-color: v.$azul;

        th {
            color: v.$blanco;
            padding: 1rem;
            font-size: 1.2rem;
            // border-top: 2px solid v.$azulMedio;
            // border-bottom: 1px solid v.$azulMedio;
            text-transform: uppercase;
            text-align: left;
        }
    }
    tr {
        &:hover td {
            background: #d0dafd;
            color: #339;
        }
    }
    td {
        background-color: v.$azulClaro;
        // padding: 0 1rem;
        border-bottom: .1rem solid v.$blanco;  
        font-size: 1.1rem; 
    }
    .competencias th {
        background-color: #4a6488;  
    }
 }

.row {
    text-align: center;
}

/* Contenedor de las preguntas*/
.rubro-header {
    background-color: v.$gris-oscuro;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.competencia-container {
    margin-bottom: 1rem;
    text-align: center;
}

.competencia-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    /* justify-content: center; */
}

.radio-label {
    /* margin-right: 10px; */
    margin: 2rem;
}

